h1 {
  margin: 40px 0;
  text-decoration: underline 2px black;
  text-align: center;
}

#navbarNav .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

#navbarNav .navbar-nav li {
  border-radius: 5px;
}

#navbarNav .navbar-nav li:hover {
  background-color: rgba(128, 128, 128, 0.408);
}

.containerDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerDetails img {
  width: 300px;
  height: auto;
  max-height: 650px;
}

.containerProducts {
  grid-area: products;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  padding-top: 0;
  width: 100%;
}

.containerProducts .products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.containerProducts .products img {
  min-height: 250px;
  max-height: 250px;
}

